* {
    font-family: 'Zen Kurenaido', sans-serif;
}

body {
    display: inline-flex;
}

h1 {
    color: #8a2be2;
    font-style: negrito
}

h1 { 
    line-height: 25px;
    margin: 10px;
    margin-bottom: 10px;
}

img{
    height: auto;
    width: auto;
    max-height: 20%;
    max-width: 20%;
}

button {
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(221, 157, 112);
    color:rgb(8, 8, 8);
    border: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}
button:hover {
    background-color: darkred;
}

li {
    font-weight: bold;
}
p {
    font-weight: bold;
}

button:active {
    background-color: darkturquoise;
}

li {
    list-style: none;
    padding: 0;

}
.img{
    width: 100%;
}

.img img{
    width: 100%;
}


.receita{
    width: 50%;
}

